@font-face {
    font-family: Roboto-Black;
    src: url(./Fonts/Roboto-Black.ttf);
}


*{
    box-sizing: border-box;
}

form{    
    display: block;
    /* gap: 10px; */

}

input{
    margin-top: 10px;
    width: 100%;
    background-color: whitesmoke;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    height: 40px;
    outline: none;
    -webkit-transition: 0.25s;
    transition: 0.25s;
}

.personalInfoForm{
    border-radius: 10px;
    background-color: white;
    padding: 2% 5%;
}


.formButtons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.personalInfoHeading{
    font-family: Roboto-Black;
    margin-bottom: -12px;
    font-size: 25px;
}

.labelContainer{
    display: flex;
    align-items: center;
    gap: 5px;

}

label{
    font-weight: bold;
    /* margin-bottom: -15px; */
}

small{
    color: grey;
 
}

input:focus{
    outline: none;
    border: 2px solid dodgerblue;
    box-shadow: 2px 2px 10px 2px lightgray;
}
